.Appointment-card {
  background-color: #543b99;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: grid;
  box-shadow: 11px 11px 22px #d9d9d9, -11px -11px 22px #ffffff;
  transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
